/* .hidden {
  display: none !important;
} */

:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

/* !General styles */
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--slate);
  background-color: var(--white);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--navy-blue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover,
a:focus {
  color: var(--ocean);
}

button {
  cursor: pointer;
  background: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover,
button:focus {
  background: var(--ocean);
}

address {
  font-style: normal;
}

section {
  /* width: 100vw; */
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title {
  font-weight: 700;
  font-size: 36px;

  /* line-height: 40px; */
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.logo-span {
  color: var(--navy-blue);
}

.logo-span-footer {
  color: var(--cloud);
}

/* !HEADER */
.header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.nav {
  display: flex;
  align-items: center;
  /*gap: 76px; */
}
.header-list {
  gap: 40px;
  font-weight: 500;
  letter-spacing: 0.02em;
  display: flex;
}

.header-list-item-link {
  position: relative;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--navy-blue);
  text-decoration: none;
}

.header-list-item-link.active {
  color: var(--ocean);
}

.header-list-item-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  background: var(--ocean);
  border-radius: 2px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: left;
}

.header-list-item-link.active::after {
  transform: scaleX(1);
}

/* .header-list-item-link:hover::after,
.header-list-item-link:focus::after {
  transform: scaleX(1);
} */

.address-list {
  display: flex;
  gap: 40px;
}

.address-list-item-link {
  color: var(--slate);
}

/* !Section About(section 1) */
.about {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 188px 0;
  max-width: 1440px;
  margin: auto;

  background: linear-gradient(var(--grey), var(--grey)) center/cover no-repeat,
    url("../images/people-office.jpg") center/cover no-repeat;
}

.about .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}
.about-title {
  max-width: 496px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
}
.about-btn {
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: var(--iris);
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  white-space: nowrap;
}

/* !Section Benefits(section 2) */
.benefits {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
  white-space: nowrap;
  border: 0;
}

.benefits-list {
  display: flex;
  gap: 24px;
}

.benefits-icons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  width: 100%;
  height: 112px;
  background: var(--cloud);
  margin-bottom: 8px;
}

.benefits-icons {
  width: 60px;
  height: 64px;
}
.benefits-list-item {
  display: flex;
  flex-direction: column;
}

.benefits-list-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* !Section Team(section 3) */
.team {
  padding: 120px 0;
  background: var(--cloud);
  overflow: auto;
}

.team-text-wrapper {
  padding: 32px 0;
  text-align: center;
}
.team-title {
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-list-item {
  border-radius: 0 0 4px 4px;
  color: var(--slate);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: var(--white);
}

.team-list-item-text {
  margin-bottom: 8px;
}

.team-social-icons-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-icons {
  width: 16px;
  height: 16px;
  fill: var(--cloud);
}

.team-social-icons-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.team-social-icons-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-icons-link:hover,
.team-social-icons-link:focus {
  background-color: #404bbf;
}

/* !Section Portfolio(section 4) */
.portfolio {
  padding: 120px 0;
}

.portfolio-title {
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  cursor: pointer;
}

.portfolio-list-item {
  position: relative;
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-list-item-img {
  display: block;
  width: 100%;
  height: auto;
}

.portfolio-img-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  color: var(--cloud);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  text-align: left;
  padding: 40px 32px;
  opacity: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  background-color: #4d5ae5;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
}

.portfolio-list-item:hover .text-overlay,
.portfolio-list-item:focus .text-overlay {
  opacity: 1;
  transform: translateY(0); /* параграф поднимается */
}

.portfolio-list-item:hover .portfolio-overlay,
.portfolio-list-item:focus .portfolio-overlay {
  opacity: 1;
  transform: translateY(0);
}

.portfolio-text-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid var(--cornflower);
  border-left: 1px solid var(--cornflower);
  border-right: 1px solid var(--cornflower);
  padding: 32px 16px;
  width: 100%;
  height: 120px;
}

.portfolio-list-item-text {
  color: var(--slate);
}

/* !Footer */
.footer {
  background: var(--navy-blue);
  padding: 100px 0;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  margin-bottom: 16px;
}

.footer-desc {
  width: 264px;
  color: var(--cloud);
}

.footer-text-wrapper {
  margin-right: 120px;
}

.footer-social-media {
  margin-right: 80px;
}
.footer-social-media-title {
  font-weight: 500;
  color: var(--white);
  margin-bottom: 16px;
}

.footer .team-social-icons-list {
  gap: 16px;
}

.footer .social-icons {
  width: 24px;
  height: 24px;
}

.footer .team-social-icons-link {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .team-social-icons-link:hover,
.footer .team-social-icons-link:focus {
  background-color: var(--green);
}

/*  !Subscribe-block */

.footer-subscribe-text {
  font-weight: 500;
  color: var(--white);
  margin-bottom: 16px;
}

.footer-subscribe-form {
  display: flex;
  gap: 24px;
}

.subscribe-form-label {
}

.subscribe-form-input {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white);
  width: 264px;
  height: 40px;
  border: 1px solid var(--white);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe-form-input::placeholder {
  color: var(--white);
}

.subscribe-form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  letter-spacing: 0.04em;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  border: none;
  border-radius: 4px;
}

.subscribe-form-icon {
  margin-left: 16px;
}

/* !Modal + backdrop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--navy-blue-modal);
  z-index: 1000;

  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  border-radius: 4px;
  background-color: var(--dairy);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: var(--cornflower);
  padding: 0;
  line-height: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn-icon {
  width: 8px;
  height: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* fill: var(--navy-blue); */
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: var(--white);
  color: var(--white);
}

.form-text {
  font-weight: 500;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 16px;
}

.form-field-wrapper {
  margin-bottom: 8px;
}

.form-field-wrapper-textarea {
  margin-bottom: 16px;
}

.input-wrapper {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid var(--navy-blue-modal);

  font-size: 12px;
  color: var(--navy-blue);
  line-height: 1.17;

  /* border: 1px solid var(--iris);    -  active*/
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus,
.form-textarea:focus {
  border-color: #4d5ae5;
}

.form-field-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  margin-bottom: 4px;
}

.form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* color: var(--iris);  -active */
}

.form-input:focus + .form-input-icon {
  fill: var(--iris);
}

.form-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  color: rgba(46, 47, 66, 0.4);
  line-height: 1.17;
  letter-spacing: 0.04em;
  border: 1px solid var(--navy-blue-modal);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  resize: none;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea::placeholder {
  color: var(--navy-blue-modal);
}

.form-custom-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid var(--navy-blue-modal);
  color: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}

.custom-checkbox-icon {
}

.form-checkbox:checked + .form-custom-checkbox-label .form-custom-checkbox {
  background-color: var(--ocean);
  /* border-color: var(--ocean); */
  border: none;
  fill: #f4f4fd;
  color: var(--cloud);
}

.form-checkbox:focus + .form-custom-checkbox-label .form-custom-checkbox {
  outline: 2px solid var(--ocean);
}

.form-custom-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}

.accent-color {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--iris);
}

.form-checkbox-wrapper {
  margin-bottom: 24px;
}

.form-send-btn {
  display: block;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--white);

  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: var(--iris);
  margin: 24px auto;
}
